#!/usr/bin/env bash
# Custom functions

# === Python cleanup ===
pyclean() {
  # Cleans py[cod] and __pychache__ dirs in the current tree:
  find . | grep -E "(__pycache__|\.py[cod]$)" | xargs rm -rf
}

# === File transfer ===
transfer() {
  # Transfers text file as sharable link.
  # See https://transfer.sh/
  if [ $# -eq 0 ]; then
    echo "No arguments specified. Usage:\necho transfer /tmp/test.md\ncat /tmp/test.md | transfer test.md"
    return 1
  fi
  tmpfile=$(mktemp -t transferXXX)
  if tty -s; then
    basefile=$(basename "$1" | sed -e 's/[^a-zA-Z0-9._-]/-/g')
    curl --progress-bar --upload-file "$1" "https://transfer.sh/$basefile" >> "$tmpfile"
  else
    curl --progress-bar --upload-file "-" "https://transfer.sh/$1" >> "$tmpfile"
  fi
  cat "$tmpfile"
  rm -f "$tmpfile"
}

# === Find big files ===
fbig() {
  # Find files larger than N gigabytes
  # Usage: fbig 8
  find ./ -xdev -type f -size +"${1}"G 2>/dev/null | \
    sed -e 's/"/"\\\\""/g' -e 's/.*/"&"/' | \
    xargs du -sh 2>/dev/null | sort -rn | sed -e 's/.*\\.$/Files not found/g'
}

# === fzf completion ===
_fzf_compgen_path() {
  ag -g "" "$1"
}
