#!/usr/bin/env bash

# `.exports` is used to provide custom variables.
#
# This file is used as a part of `.shell_env`

# === Compiler flags ===

# This is required because `openssl` is keg-only in `brew`,
# see: `brew info openssl` for more information.
export LDFLAGS="-L/usr/local/opt/openssl/lib"
export CPPFLAGS="-I/usr/local/opt/openssl/include"
{%@@ if profile == 'mac_os' @@%}
export CFLAGS="-I$(xcrun --show-sdk-path)/usr/include"
export PATH="$PATH:/opt/homebrew/bin"
{%@@ endif @@%}
export PKG_CONFIG_PATH="/usr/local/opt/openssl/lib/pkgconfig"


# === Path modifications ===

PATH="$HOME/.local/bin:$PATH"

# Adds `poetry` binary, should be added to the end:
PATH="$PATH:$HOME/.poetry/bin"

PATH="/snap/bin:$PATH"

export PATH

# === General ===
export TERM=xterm-256color

# Editor:
# export EDITOR=$(which nano)

# GPG:
export GPG_TTY=$(tty)
eval "$(gpg-agent --daemon --allow-preset-passphrase > /dev/null 2>&1)"

{%@@ if profile == 'mac_os' @@%}
# Homebrew:
export HOMEBREW_NO_ANALYTICS=1  # disables statistics that brew collects
{%@@ endif @@%}

# Pagers:
# This affects every invocation of `less`.
#
#   -i   case-insensitive search unless search string contains uppercase letters
#   -R   color
#   -F   exit if there is less than one page of content
#   -X   keep content on screen after exit
#   -M   show more info at the bottom prompt line
#   -x4  tabs are 4 instead of 8
export LESS="-iRFXMx4"
export PAGER='less'
export MANPAGER='less'

# Settings for djui/alias-tips plugin
export ZSH_PLUGINS_ALIAS_TIPS_TEXT="Tip: "
export ZSH_PLUGINS_ALIAS_TIPS_EXCLUDES="_ pls ll ls py"

# notify
export AUTO_NOTIFY_THRESHOLD=30
export AUTO_NOTIFY_EXPIRE_TIME=5000


# pipx completion, place after pyenv init
if command -v pipx 1>/dev/null 2>&1; then
  eval "$(register-python-argcomplete pipx)"
fi

# Enable persistent REPL history for `node`.
export NODE_REPL_HISTORY="$HOME/.node_history"
# Use sloppy mode by default, matching web browsers.
export NODE_REPL_MODE='sloppy'
